/* google font */
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap);

* {
    font-family: 'Poppins', sans-serif;
}

/* header section start */

/* navbar */

nav {
    color: #3e3e3e;
    background: #e5e5e5;
}

nav .navbar-brand {
    font-weight: 700;
    font-size: 22px;
}

nav .nav-items {
    font-weight: 500;
    font-size: 16px;
}

/* img slider */

.font-icon {
    font-size: 50px;
}

.carousel-inner img {
    width: 100%;
}

.carousel-inner h5 {
    font-weight: 600;
    color: #fff;
    font-size: 48px;
    padding: 0 50px;
}

.carousel-inner p {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin: 0 100px;
    padding: 0 50px;
}

#img-slider .btn-primary {
    background: #fff;
    border-radius: 5px;
    border-color: #fff;
    color: #3f87f5;
    font-weight: 700;
    font-size: 16px;
}

/* header section end */

@media screen and (max-width: 576px) {
    .carousel-inner img {
        width: auto;
        position: relative;
        left: -80%;
    }

    .carousel-inner h5 {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    .carousel-inner p {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }
}