/* google font */
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap);

* {
    font-family: 'Poppins', sans-serif;
}

/* header section start */

/* navbar */

nav {
    color: #3e3e3e;
    background: #e5e5e5;
}

nav .navbar-brand {
    font-weight: 700;
    font-size: 22px;
}

nav .nav-items {
    font-weight: 500;
    font-size: 16px;
}

/* img slider */

.font-icon {
    font-size: 50px;
}

.carousel-inner img {
    width: 100%;
}

.carousel-inner h5 {
    font-weight: 600;
    color: #fff;
    font-size: 48px;
    padding: 0 50px;
}

.carousel-inner p {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin: 0 100px;
    padding: 0 50px;
    margin-bottom: 10px;
}

#img-slider .btn-primary {
    background: #fff;
    border-radius: 5px;
    border-color: #fff;
    color: #3f87f5;
    font-weight: 700;
    font-size: 16px;
}

/* header section end */

/* main section start */

/* album section */

.album-section h1{
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}
.album-section p{
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}

.explore-btn{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF !important;
    /* background: #3F87F5; */
    background-color: #3F87F5 !important;
    border-radius: 0 !important;
    padding: 10px 24px;
}

.my-toast{
    position: absolute;
    border-style: none !important;
    left: 70% !important;
    border-left: 10px solid #3F87F5 !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    
    
}

.gift-icon{
    font-size: 23px;
    color: rgba(0, 124, 255, 0.63);
}


@media screen and (max-width: 576px) {
    nav .navbar-brand {
        font-size: 14px;
    }
    nav .nav-items {
        font-size: 14px;
    }

    .carousel-inner img {
        height: 80vh;
        object-fit: cover;
    }

    .carousel-inner h5 {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    .carousel-inner p {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    .album-section h1{
        font-size: 19px; 
    }

    .album-section p{  
        font-size: 15px;
    }

    .my-toast{
        left: 2% !important;
    }
}

